/*-----------메인------------*/
/* main {
    width : 1500px;
    height : 1900px;
} */ 

/* --메인의 헤더-- */

/* #shopTitle {
    width : 1500px;
    height : 100px;
    background-color: antiquewhite;
    margin-top : 50px;
}
    #shopTitle p{
        text-align: center;
        font-family: 'PT Serif', serif;
        font-size : 1.7em;
        line-height: 100px;
    } */
#shopCtg {
    margin-top : 50px;
    width : 1500px;
    height : 50px;
    text-align: center;
    /* background-color: blanchedalmond; */
}
#shopCtg li {
    padding : 0 20px;
    line-height : 50px;
    font-family: 'PT Serif', serif;
    font-weight: lighter;
    font-size : 1em;
    color : black;
}
#shopCtg li:hover {
    background-color: rgba(255, 235, 205, 0.522);
    border-radius: 25px;
    text-decoration: white;
}

/* --메인의 메인-- */

.productGrid {
    margin-top : 50px;
    width : 1500px;
    height : 1700px;
    /* background-color: violet; */
    display : grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap : 20px;
}
    .product-item {
        margin-left : 40px;
        text-align : right;
        /* background-color: #f0f0f0; */
        width : 400px;
        height : 450px;
        padding : 20px;
        position: relative;
    }
    .product-item .productImg {
        width : 300px;
        object-fit : cover;
        max-height : 400px;
    }
    /* .product-item span:hover {
        color : red;
        background-color: red;
    } */
    span img {
        width : 25px;
        height : 25px;
        position : absolute;
        top : 50px;
        left : 330px;
    }
    .product-item img:hover {
        opacity : 0.5;
    }
    .product-item .wrapImg {
        /* position : absolute; */
        left : 80px; top: 20px;
    }
    .wrapImg span{
        color : black;
        background-color: #de9564c4;
        width: 70px;
        height : 30px;
        font-family: Marcellus SC, serif;
        font-size : 1em;
        padding : 1.5px 10px;
    }
    .product-item .title {
        font-family: 'PT Serif', serif;
        margin-top : 10px;
        font-size : 1em;
    }
    .product-item p {
        margin-top : 10px;
        font-size : 0.9em;
        font-family: 'PT Serif', serif;
    }
    .addCart {
        display : block;
    }
    .heartImg {
        display: none;
    }

/* --메인의 푸터-- */

.pageBtn {
    width : 1500px;
    height : 100px;
    /* background-color: silver; */
    text-align: center;
    /* margin-top: 20px; */
}
    .prev-btn, .next-btn{
        background-color: white;
        width : 20px;
        height : 20px;
        border: none;
        border-radius : 50%;
        cursor: pointer;
    }
    .prev-btn img, .next-btn img{
        width : 10px;
        height : 10px;
        opacity : .5;
    }
    .prev-btn:hover, .next-btn:hover {
        background-color: #eba4746f;
    }

    .page-numbers {
        display: inline-block;
        font-family: 'PT Serif', serif;
    }
    .page-number {
        display: inline-block;
        margin: 0 5px;
        padding : 5px;
        cursor: pointer;
        color : #d5d4d4;
    }

    .page-number.active {
        font-weight: bolder;
        color : coral
    }